.div-remove-me {
  min-width: 16px;
  min-height: 16px;
}

.red {
  color: red;
}

.margin-x {
  margin-right: 16px;
  margin-left: 16px;
}

.padding-y {
  padding-top: 2px;
  padding-bottom: 2px;}

.random {
  padding-left: 2px;}

.padding-top {
  padding-top: 16px;}

.margin-top {
  margin-top: 4px;}

.flex {
  display: flex;
  flex-direction: row-reverse;}

.foo {}

.go {}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;}

.feature-test-text {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;}
